#container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  1fr 5fr 1fr;
    border: 1px solid black;
    height: 95vh;
    /* width: 95vw; */
    
}
#header {
    display: grid;
    grid-column: 1 / span 4 ;
    border: 1px solid black;
}
#content {
    display: grid;
    grid-area: 2 / 4 / 2 / 4;
    border: 1px solid black;

}
#footer {
    display: grid;
    grid-column: 1 / span 4;
    border: 1px solid black;
}
#navbar {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    border: 1px solid black;
}